.friend-requests-modal {
    display: none; 
    position: absolute; 
    overflow: auto;
    width: 100%; 
    height: calc(100% - 40px);
    padding-top:40px;
    top: 0;
    left: 0;
}

.friend-requests-modal-content {
    background-color: whitesmoke;
    
    padding: 20px;
    float:right;
    width: 25%;
    height:60%;
    overflow: scroll;
    border: 1px solid crimson;
    
}
.modal-header{
    padding-bottom:25px;
}

.single-friend-request{
    padding:10px;
    border: 1px crimson;
}

.single-friend-request a{
    color:crimson;
    font-size: 20px;
}
.decline-request{
    background-color: red;
    color: white;
    float:right;
    margin-left: 5px;
    cursor: pointer;   
    

}
.confirm-request{
    color: black;
    background-color: green;
    float:right;
    cursor: pointer;
}


