.welcome {
    background-image: url("../images/welcome2.jpg");
    background-size: 100%;
} 
h1{
    color: white;
    text-align: center;
    font-size: 50px;
}
.welcome h2{
    
    font-size: 35px;
    text-align: center;
}
#message, #message-signup{
    color: red;
    font-weight: bold;
}

.welcome input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  

  


.login-section{
    width: 30%;
    margin-left: 15%;
    margin-top: 5%;
    float: left;
    background-color: rgba(255, 192, 203, 0.767);
    border-radius: 5px;
    
    padding: 20px;
    font-size:20px;
    
}
.signup-section{
    width: 30%;
    margin-top: 5%;
    margin-right: 15%;
    float: right;
    background-color: rgba(255, 192, 203, 0.767);
    padding: 20px;
    font-size:20px;
    
}
.welcome #login, #signup{
    background-color:crimson;
    font-size:18px;
    width: 100%;
    color: white;
    border: none;
    height: 30px;
}
.welcome #login:hover, #signup:hover{
    cursor: pointer;
    opacity: 0.7;
}
