<div class="main-content">
    <div class="left-section" id="navigation">
    </div>
    <div class="middle-section">
        <div class="create-post">
            <h3> post in group </h3>
            <textarea id="post-content" class="post-content"></textarea>
            <button id="post-button" class="post-button"> post </button>
        </div>
        <div class="posts" id="posts">
        </div>
    </div>
    <div class="right-section">
        <div class="group-members" id="group-members">
        </div>
    </div>
</div>