



.main-content{
    float:top;
    height: 100%;
    background-color: pink;
}




.main-content  a{
    text-decoration: none;
    color: crimson;


}
.main-content a:hover{
    
    color: crimson;
    text-decoration: underline;

}

.main-content .right-section{
    float:right;
    width: 20%;
}

.main-content .right-section .group-members{
    margin-top: 20px;
    border: crimson 1px solid;
    
    overflow-y: scroll; 
    height:500px;
    padding-left: 5px;
    
    
}
.main-content .right-section .group-members .single-member{
    padding-bottom: 20px;
    margin-top:1px black;
}


