


.main-content .right-section{
    float:right;
    width: 20%;
}

.main-content .right-section .event-suggestions{
    margin-top: 20px;
    border: crimson 1px solid;
}
.main-content .right-section .event-suggestions .single-event-suggestion{
    padding-bottom: 5px;
    padding-left:5px;
}
.event-name{
    font-size: 25px;
}
a{
    text-decoration: none;
    color: crimson; 
}
a:hover{
    text-decoration: underline;
}
#closemodal{
    float:right;
    color: crimson;
}