


 


#join-group{
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    color:white;
    border: none;
    background-color:crimson;
    width: 100%;
}
#join-group:hover{
    cursor: pointer; 
} 
#join-group:disabled{
    opacity: 0.65;
    cursor: not-allowed; 
} 
 
.main-content  a{
    text-decoration: none; 
    color: crimson;


}
.main-content a:hover{
    
    color: crimson;
    text-decoration: underline;

}

.main-content .right-section{
    float:right;
    width: 20%;
}

.main-content .right-section .group-members{
    margin-top: 20px;
    border: crimson 1px solid;
    
    overflow-y: scroll; 
    height:500px;
    padding-left: 5px;
    
    
}
.main-content .right-section .group-members .single-member{
    padding-bottom: 20px;
    margin-top:1px black;
}


