

.fullname{
    color:crimson;
    font-size: 20px;
   
}
.timeline{
    padding-left: 15%;
    height: 100%;
    padding-right: 15%;
    
}
.timeline .profile-photos{
    background-image: url("../images/timeline-photo.jpg");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height:100px;
    padding-top:240px;
    padding-left:50px;
}
#profile-photo-big{
    margin-top: 50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
}
#profile-photo-big:hover{
    cursor: pointer;
}
.about{
    margin-top: 50px;
    border-bottom: crimson 1px solid;
    color: crimson;
}

.user-info{
    padding:15px;
    font-family: sans-serif;
    text-align: center;
}

#add-friend, #decline-request{
    margin-top: 10px;
    float:right;
    color:whitesmoke;
    background-color:crimson;
    border: black 2px;
    
    font-size:20px;
    height:40px;
    
}
#decline-request{
    background-color: yellowgreen;
    display: none;
    margin-right:10px;
}
#decline-request:hover{
    background-color: rgb(113, 151, 38);
    cursor: pointer;
}

#add-friend:hover{
    cursor: pointer;
    background-color:rgb(173, 16, 48);
    
}
#add-friend:disabled{
    cursor: not-allowed;

}

.posts .single-post{
    border: crimson 1px solid;
    margin: 5px;
    
}
 .posts .single-post .post-content{
    margin: 5px;
    
    
}
.posts .single-post .post-author{
    
    margin: 5px;
    height: 35px;
    
}
#bio input, #bio button{
    
    height: 30px;
}
#bio button{
    color: white;
    background-color: crimson;
    border: black 2px;
    font-size: 20px; 
    margin-left:10px;
}
#bio button:hover{
    cursor:pointer;
}
#bio input{
    width: 70%;
}
#fullname{
    font-size: 22px;
    padding-left: 50px;
}
